<h1>EditingBook</h1>

<div class="error">
  <% if @book.errors.any? %>
    <p class="error-message"><%= @book.errors.count %>errors prohibited this book from being saved</p>
    <ul class="error-contents">
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_with model: @book do |book| %>

<div class="edit-input">  
  <p>title</p>
  <%= book.text_field :title %>
</div>

<div class="edit-input"> 
  <p>body</p>
  <%= book.text_area :body %>
</div>

<div class="edit-input">
  <%= book.submit 'Update Book' %>
</div>

<% end %>

<div class="link">
  <span><%= link_to "show", book_path(@book.id) %></span>
  <span> | </span>
  <span><%= link_to "back", '/books' %></span>
</div>