<h1>EditingBook</h1>

<%= form_with model: @book do |book| %>

<div class="edit-input">  
  <p>title</p>
  <%= book.text_field :title %>
</div>

<div class="edit-input"> 
  <p>body</p>
  <%= book.text_area :body %>
</div>

<div class="edit-input">
  <%= book.submit 'UpdateBook' %>
</div>

<% end %>

<div class="link">
  <span><%= link_to "show", book_path(@book.id) %></span>
  <span> | </span>
  <span><%= link_to "back", '/books' %></span>
</div>